@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-VariableFont_wght.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("assets/fonts/WorkSans-Italic-VariableFont_wght.ttf");
  font-style: italic;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
  --Purple: #ad28eb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--Light-pink);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;

  color: var(--Dark-purple);
  font-family: "Work Sans";
  font-size: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  background-color: var(--White);
  width: calc(100% - 60px);
  border-radius: 15px;
  max-width: 600px;
  padding: 30px;
  margin: 30px;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

#logo {
  width: 30px;
  height: 30px;
}

/* TODO add bottom border */

.faq-container {
  margin-bottom: 1px solid var(--Grayish-purple);
  margin: 20px 0;
}

.q-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.q-container:hover {
	color: var(--Purple);
}

.question {
  font-size: 1em;
}

.answer {
  color: var(--Grayish-purple);
  margin: 20px 0;
  display: none;
  opacity: 0.6;
}

@media only screen and (max-width: 767px) {
  body {
    background-image: url("assets/images/background-pattern-mobile.svg");
  }
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url("assets/images/background-pattern-desktop.svg");
  }
}